td, th {
    text-align: center;
    margin: 2px;
    word-wrap: break-word;
    vertical-align: middle;
}

table {
    width: 100%;
    table-layout: fixed;
}

/*.parent {
    position: relative;
}*/